<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> SMS Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />

</head>
<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #3c7edf; border-bottom: 1px solid #ddd;">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="@Url.Action("Index", "Home")">My Website</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "MessageTemplete")">Message Templete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "Report")">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("CreateMessage", "MessageForm")">MessageForm</a>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Login", "Users")">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-light ml-2" href="@Url.Action("Register", "Users")">Signup</a>
                            </li>
                        </ul>
                    }else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Index", "Home")">Hello, @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-light ml-2" href="@Url.Action("Logout", "Users")">Logout</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
         @RenderBody()
    </div>

    <footer class="footer text-center py-3" style="background-color:#3c7edf; color: white;">
        <div class="container">
            &copy; 2024 My Website. All rights reserved.

         </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
